node_modules
.env

# Temporary audio files
temp_audio/
*.mp3

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
# clerk configuration (can include secrets)
/.clerk/
